body{
    
    color: black;
    text-align: center;
   
    
}
input[type="submit"]{
    background-color: lawngreen;
    font-size: 15px;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 70px;
    padding-bottom: 10px;
    padding-right: 70px;

}

form{
    border-radius: 2px;
    border: 2px solid lawngreen;
    background-color: darkcyan;
    margin-top: 2px;
    margin-right: 520px;
    margin-bottom: 2px;
    margin-left: 520px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

table{
    
    width: 100%;
}
th,td{
    border-radius: 20px solid black;
   
}

tr:nth-child(even){
    
    background-color: darkcyan;
}

tr:first-child{
    
    background-color: lawngreen;
}